@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 0;
    margin: 0;
}
.header-title{
    color: #C92071;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
   
}
.header-imagem {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.header .header-imagem{
    margin-left: 100px;
    margin-right: 5px;
}

.conteudo-principal{ 
    display: flex;
    justify-content: flex-end;
    background-color: #B5B6F2;
    background-image: linear-gradient(#B5B6F2, #EFEFFF);
}

form{
    
    padding: 30px;
    position: absolute;
    width: 583px;
    height: 399px;
    left: 100px;
    top: 200px;
    background: #FFFFFF;
    border-radius: 8px;

}
.h1-criar-conta{
    width: 520px;
    margin-bottom: 20px;    
    font-family: 'inter';
    font-style: normal;
    font: weight 700;
    font-size: 30px;
    line-height: 36px;
}
.entre-aqui{
    margin-bottom: 30px;
    width: 270px;
    height:30px ;
    font-family: 'inter';
    font-style:normal ;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    letter-spacing:0,75px;
}
.aqui{
    color: #474747;
    font-style: normal;
    text-decoration: none;
    border-bottom: 1px #474747 solid;
}
.input-email label{
    display: block;
    font-size: 12px;
    line-height: 24px;

}

.input-email input{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: #47474704; 
    border: none;
    

}

.email{
    width: 110px;
    height: 24px;
    left: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}

button{
    background: #C92071;
    border-radius: 8px;
    width: 100%;
    height: 48px;
    font-family: 'inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
}


span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    
}

span a {
    margin-left: 30px;
}

.foot-right{
    width: 300px;
    height: 483px;
    left: 1000px;
    top: 156px;
    background: url(pexels-melvin-buezo-2529148.png);
 }


.foot-left{
    width: 280px;
    height: 555px;
    left: 1500px;
    top: 417px;
    margin-top: 100px;
    background: url(pexels-melvin-buezo-2529148.png);
}


footer{
    background: #1F1F1F;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 454px;
   
}

.title-footer{
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 44px;
}


.paragrafo-footer{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
}


h2{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    order: 1;
    margin-left: 8px;
}

.figure-facebook{
   
    width: 11px;
    height: 20px;
    left: 100px;
    top: 269px;
    margin-right: 35px;
}
.figure-instagram{
   
    width: 20px;
    height: 20px;
    left: 146px;
    top: 269px;
    margin-left: 30px;
    
}
.figure-twitter{
  
    width: 20px;
    height: 18.24px;
    left: 202px;
    top: 270px;
    margin-left: 30px;
}

.logo {
   
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
}

footer{
    display: flex;
    padding: 77px 100px 0px 100px;
    flex-wrap: wrap;
    justify-content: space-between;


}

footer .infor {
    width: 310px;

}

footer .infor p{
    line-height: 26px;
    border: none;
    text-align: initial;
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
}

footer p{
    width: 100%;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #f8f8f8;
    
}
 

.informacao,
.categoria,
.contato{
    color: white;
    width: 250px;
    
}

ul{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    top: 0px;
    font-family: 'inter';
    line-height: 38px;
    list-style: none;
    
    
}
.topicos{
    margin-left: 205px;
    width: 135px;
    height: 230px;
}
.produtos{
    margin-left: 100px;
}

.contato
{
    color: white;
    margin-left: 50px;
    
}
        

.date{
    color: white;
    
}
.contato h4{
    margin-bottom: 30px;
}
form span{
    font-size: 16px;
    font-weight: 400px;
}
